$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;

$color-dark-3xl: #292929;
$color-dark-xl: #4C4C4C;
$color-dark-l: #545454;
$color-dark-m: #B2B2B2;
$color-dark-s: #CDCDCD;

$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;

$font-sizes: (
	"logo-title": 32px,
	"logo-subtitle": 13px,
	"header-2": 44px,
	"header-3": 35px,
	"header-4": 20px,
	"header-5": 15px,
	"paragraph-l": 15px,
	"paragraph-s": 12px,
	"button": 17px,
	"modal": 15px
);

$font-families: (
	"header": ('Georgia', serif),
	"paragraph": ('Arial', sans-serif)
);

$font-weights: (
	"_normal": 400,
);

$line-heights: (
	"xs": 110%,
	"s": 115%,
	"m": 130%,
	"l": 150%,
	"xl": 160%
);

$letter-spacings: (
	"s": 0.06em,
	"m": 0.1em,
);

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

body {
	display: flex;
	justify-content: start;
	flex-direction: column;
	min-height: 100vh;
}

.wrapper {
	max-width: 1280px;
	padding-left: 40px;
	padding-right: 40px;
	margin: 0 auto;
}

.background {

	&__start_dark {
		background: url("../assets/noise_transparent@2x.png"),
			radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
			#211F20;
	}

	&__footer_dark {
		background: url("../assets/noise_transparent@2x.png"),
			radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
			#211F20;
	}

	&_light {
		background: $color-light-l;
	}
}

.header-2 {
	color: $color-light-xl;
	font-family: map-get($font-families, header);
	font-weight: map-get($font-weights, _normal);
	font-size: map-get($font-sizes, header-2);
	line-height: map-get($line-heights, m);
}

.header-3 {
	font-family: map-get($font-families, header);
	font-size: map-get($font-sizes, header-3);
	font-weight: map-get($font-weights, _normal);
	line-height: map-get($line-heights, m);
	letter-spacing: map-get($letter-spacings, s);

	&_dark {
		color: $color-dark-l;
	}

	&_light {
		color: $color-light-xl;
	}
}

.header-4 {
	font-family: map-get($font-families, header);
	font-size: map-get($font-sizes, header-4);
	font-weight: map-get($font-weights, _normal);
	line-height: map-get($line-heights, s);
	letter-spacing: map-get($letter-spacings, s);

	&_dark {
		color: $color-dark-l;
	}

	&_primary {
		color: $color-primary;
	}
}

.header-5 {
	color: $color-dark-l;
	font-family: map-get($font-families, header);
	font-size: map-get($font-sizes, header-5);
	font-weight: map-get($font-weights, _normal);
	line-height: map-get($line-heights, s);
	letter-spacing: map-get($letter-spacings, s);
}

.paragraph-l {
	font-family: map-get($font-families, paragraph);
	font-size: map-get($font-sizes, paragraph-l);
	font-weight: map-get($font-weights, _normal);
	line-height: map-get($line-heights, xl);

	&_light {
		color: $color-dark-s;
	}

	&_dark {
		color: $color-dark-xl;
	}
}

.paragraph-s {
	color: $color-dark-m;
	font-family: map-get($font-families, paragraph);
	font-size: map-get($font-sizes, paragraph-s);
	font-weight: map-get($font-weights, _normal);
	line-height: map-get($line-heights, l);
	font-style: italic;
}

.button {
	color: $color-dark-3xl;
	border-radius: 100px;
	font-size: map-get($font-sizes, button);
	line-height: map-get($line-heights, m);
	letter-spacing: map-get($letter-spacings, m);
	padding: 15px 45px;
	border: none;
	outline: none;
	transition: 0.5s;

	&:hover {
		background-color: $color-primary-light;
		cursor: pointer;
	}
}

.button_colored {
	background-color: $color-primary
}

.button_bordered {
	background: none;
	outline: 2px solid $color-primary;
	outline-offset: -2px;

	&:hover {
		outline: 2px solid $color-primary-light;
	}
}

.header {

	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		&_main {
			padding-top: 30px;
			padding-bottom: 30px;
		}

		&_pets {
			padding-top: 30px;
			padding-bottom: 32px;
		}
	}
}

.logo {

	&__title {
		font-family: map-get($font-families, header);
		font-size: map-get($font-sizes, logo-title);
		font-weight: map-get($font-weights, _normal);
		line-height: map-get($line-heights, xs);
		letter-spacing: map-get($letter-spacings, s);


		&_primary {
			color: $color-primary;
		}

		&_dark {
			color: $color-dark-l;
		}
	}

	&__subtitle {
		font-family: map-get($font-families, paragraph);
		font-size: map-get($font-sizes, logo-subtitle);
		font-weight: map-get($font-weights, _normal);
		letter-spacing: map-get($letter-spacings, m);
		line-height: 15px;
		padding-top: 10px;
		padding-left: 5px;

		&_light {
			color: $color-light-xl;
		}

		&_dark {
			color: $color-dark-3xl;
		}
	}

	&__link {
		text-decoration: none;
		transition: 0.5s;

		&:hover {
			cursor: pointer;
			text-shadow: 0 0 20px $color-primary;
		}
	}
}

.navigation {

	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		list-style: none;
	}

	&__item {
		margin-left: 36px;
	}

	&__link {
		text-decoration: none;
		font-family: map-get($font-families, paragraph);
		font-size: map-get($font-sizes, paragraph-l);
		font-weight: map-get($font-weights, _normal);
		line-height: map-get($line-heights, xl);
		padding-bottom: 5px;
		transition-duration: 0.5s;
		transition-property: color;

		&:hover {
			cursor: pointer;
		}

		&:active {
			border-bottom: 3px solid $color-primary ;
		}

		&:focus {
			border-bottom: 3px solid $color-primary ;
		}

		&_active {
			border-bottom: 3px solid $color-primary;
			pointer-events: none;
		}

		&_light {
			color: $color-dark-s;

			&:hover {
				color: $color-light-s;
			}

			&:active {
				color: $color-light-s;
			}
		}

		&_dark {
			color: $color-dark-l;

			&:hover {
				color: $color-dark-3xl;
			}
		}
	}
}

.start {

	&__container {
		display: flex;
		padding-top: 60px;
	}

	&__img {
		display: flex;
		align-items: flex-end;

	}

	&__text {
		display: flex;
		flex-direction: column;
		padding-right: 42px;
	}

	&__title {
		padding-top: 165px
	}

	&__paragraph {
		padding-top: 40px;
	}

	&__button {
		padding-top: 42px;
	}
}

.about {
	&__container {
		display: flex;
		padding-top: 80px;
		padding-bottom: 95px;
	}

	&__img {
		padding-left: 175px;
	}

	&__title {
		padding-top: 15px;
	}

	&__text {
		display: flex;
		justify-content: start;
		flex-direction: column;
		padding-right: 175px;
		padding-left: 120px;
	}

	&__paragraph {
		padding-top: 25px;
	}
}

.our-friends {

	&__container {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding-bottom: 100px;
	}

	&__title {
		text-align: center;
		padding-top: 80px;
	}

	&__cards {
		width: 82%;
	}

	&__slider {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__button {
		padding-top: 30px;
	}
}

.pet-cards {

	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		align-content: space-between;
		padding-top: 60px;
	}
}

.pet-card {

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $color-light-s;
		transition: 1s;
		border-radius: 9px;
		margin-bottom: 32px;


		&:hover {
			cursor: pointer;
			box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
			background-color: $color-light-xl;
		}

		&:hover .button {
			background-color: $color-primary-light;
			outline: 2px solid $color-primary-light;
		}
	}

	&__title {
		padding-top: 25px;
	}

	&__button {
		padding-top: 28px;
		padding-bottom: 30px
	}
}

.paginator {

	display: flex;
	padding-top: 30px;

	&__item {
		margin-left: 10px;
		margin-right: 10px;
	}
}

.pagination-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 52px;
	height: 52px;
	border-style: solid;
	border-width: 2px;
	border-radius: 50px;
	transition: 0.5s;

	&_in-slider {
		margin-top: 30px;
	}

	&_normal {
		border-color: $color-primary;

		&:hover {
			cursor: pointer;
			border-color: $color-primary-light;
			background-color: $color-primary-light;
		}
	}

	&_active {
		border-color: $color-primary;
		background-color: $color-primary;

		&:hover {
			cursor: pointer;
			border-color: $color-primary-light;
			background-color: $color-primary-light;
		}
	}

	&_inactive {
		color: $color-dark-s;
		border-color: $color-dark-s;
	}

	&__arrow {
		width: 14px;
		height: 6px;
		background-image: url("../assets/icons/arrow.svg");
		background-repeat: no-repeat;

		&_left {
			transform: rotate(180deg);
		}
	}
}

.help {

	&__container {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	&__title {
		padding-top: 80px;
		text-align: center;
	}
}

.help-items {

	&__container {
		max-width: 1150px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding-bottom: 100px;
	}

	&__row-1 {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	&__row-2 {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
}

.help-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 58px;
	padding-left: 60px;
	padding-right: 60px;

	&__title {
		padding-top: 25px;
	}
}

.in-addition {

	&__container {
		display: flex;
		padding-top: 80px;
	}

	&__img {
		padding-top: 10px;
		padding-left: 143px;
	}

	&__text {

		padding-left: 30px;
		padding-right: 160px;
	}

	&__subtitle {
		padding-top: 18px;
		padding-bottom: 20px;
	}

	&__paragraph {
		padding-top: 20px;
		padding-bottom: 100px;
	}
}

.credit-card {
	max-width: 350px;
	display: flex;
	padding: 10px 0px 5px 15px;
	background-color: $color-primary;
	border-radius: 9px;
	transition: 0.5s;

	&:hover {
		cursor: pointer;
		background-color: $color-primary-light;
	}

	&__link {
		text-decoration: none;
	}

	&__number {
		padding-left: 15px;
	}
}

.footer {

	&__container {
		display: flex;
	}

	&__column {
		display: flex;
		flex-direction: column;
		padding-right: 160px;
		padding-top: 56px;
	}

	&__contact-link {
		display: flex;
		align-items: center;
		transition: 0.5s;
		padding-top: 40px;
		text-decoration: none;

		&:hover {
			cursor: pointer;
			text-shadow: 0 0 2px $color-primary;
		}

		&_location {
			padding-top: 32px;
		}
	}

	&__contact-text {
		padding-left: 20px;
	}

	&__img {
		display: flex;
		align-items: flex-end;
		padding-top: 40px;
		margin-left: 5px;
	}
}