$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;

$color-dark-3xl: #292929;
$color-dark-xl: #4C4C4C;
$color-dark-l: #545454;
$color-dark-s: #CDCDCD;

$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;

$font-sizes: (
	"logo-title": 32px,
	"logo-subtitle": 13px,
	"header-2": 44px,
	"header-3": 35px,
	"header-4": 20px,
	"header-5": 15px,
	"paragraph-l": 15px,
	"paragraph-s": 12px,
	"button": 17px,
	"modal": 15px
);

$font-families: (
	"header": ('Georgia', serif),
	"paragraph": ('Arial', sans-serif)
);

$line-heights: (
	"xs": 110%,
	"s": 115%,
	"m": 130%,
	"l": 160%
);

$letter-spacings: (
	"s": 0.06em,
	"m": 0.1em,
);

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.dark-background {
	background: #43362e;
}

.light-background {
	background: $color-light-l;
}

body {
	display: flex;
	justify-content: start;
	flex-direction: column;
	min-height: 100vh;
}

.layout-2-col {
	display: flex;
}

.header-2 {
	color: $color-light-xl;
	font-family: map-get($font-families, header);
	font-size: map-get($font-sizes, header-2);
	line-height: map-get($line-heights, m);
}

.header-3 {
	color: $color-dark-l;
	font-family: map-get($font-families, header);
	font-size: map-get($font-sizes, header-3);
	line-height: map-get($line-heights, m);
	letter-spacing: map-get($letter-spacings, s);
}

.header-4 {
	color: $color-dark-l;
	font-family: map-get($font-families, header);
	font-size: map-get($font-sizes, header-4);
	line-height: map-get($line-heights, s);
	letter-spacing: map-get($letter-spacings, s);
}

.paragraph-l {
	font-family: map-get($font-families, paragraph);
	font-size: map-get($font-sizes, paragraph-l);
	line-height: map-get($line-heights, l);

	&_light {
		color: $color-dark-s;
	}

	&_dark {
		color: $color-dark-xl;
	}
}

.button {
	color: $color-dark-3xl;
	border-radius: 100px;
	font-size: map-get($font-sizes, button);
	line-height: map-get($line-heights, m);
	letter-spacing: map-get($letter-spacings, m);
	padding: 15px 45px;
	border: none;
	outline: none;
	transition: 0.5s;

	&:hover {
		background-color: $color-primary-light;
		cursor: pointer;
	}
}

.button_colored {
	background-color: $color-primary
}

.button_bordered {
	background: none;
	outline: 2px solid $color-primary;
	outline-offset: -2px;

	&:hover {
		outline: 2px solid $color-primary-light;
	}
}

.header {

	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-top: 60px;
	}
}

.logo {

	&__title {
		font-family: map-get($font-families, header);
		font-size: map-get($font-sizes, logo-title);
		line-height: map-get($line-heights, xs);
		letter-spacing: map-get($letter-spacings, s);


		&_light {
			color: $color-primary;
		}

		&_dark {
			color: $color-dark-l;
		}
	}

	&__subtitle {
		font-family: map-get($font-families, paragraph);
		font-size: map-get($font-sizes, logo-subtitle);
		line-height: 13px;
		letter-spacing: map-get($letter-spacings, m);
		padding-top: 10px;
		padding-left: 5px;

		&_light {
			color: $color-light-xl;
		}

		&_dark {
			color: $color-dark-3xl;
		}
	}

	&__link {
		text-decoration: none;
		transition: 0.5s;

		&:hover {
			cursor: pointer;
			text-shadow: 0 0 20px $color-primary;
		}
	}
}

.navigation {

	&__list {
		display: flex;
		align-items: center;
		list-style: none;
	}

	&__item {
		margin-left: 35px;
	}

	&__link {
		text-decoration: none;
		font-family: map-get($font-families, paragraph);
		font-size: map-get($font-sizes, paragraph-l);
		line-height: map-get($line-heights, l);
		padding-bottom: 5px;
		transition-duration: 0.3s;
		transition-property: color;

		&:hover {
			cursor: pointer;
		}

		&:active {
			border-bottom: 3px solid $color-primary ;
		}

		&:focus {
			border-bottom: 3px solid $color-primary ;
		}

		&_light {
			color: $color-dark-s;

			&:hover {
				color: $color-light-s;
			}

			&:active {
				color: $color-light-s;
			}
		}

		&_dark {
			color: $color-dark-l;

			&:hover {
				color: $color-dark-3xl;
			}
		}
	}
}

.start-text {

	&__container {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		padding-right: 42px;
	}

	&__title {
		padding-top: 224px
	}

	&__paragraph {
		padding-top: 42px;
	}

	&__button {
		padding-top: 42px;
	}
}

.start-img {
	padding-top: 61px;
	margin-bottom: -5px;
}

.about-img {
	padding-left: 175px;
	padding-top: 80px;
	padding-bottom: 100px;
}

.about-text {

	&__container {
		display: flex;
		justify-content: start;
		flex-direction: column;
		padding-top: 95px;
		padding-right: 175px;
		padding-left: 120px;
		padding-bottom: 114px;
	}

	&__paragraph {
		padding-top: 25px;
	}
}

.our-friends {

	&__container {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding-bottom: 100px;
	}

	&__title {
		text-align: center;
		padding-top: 80px;
	}

	&__button {
		padding-top: 60px;
	}
}

.pet-cards {

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 60px;
	}
}

.pet-card {

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $color-light-s;
		margin-left: 47px;
		margin-right: 47px;
	}

	&__title {
		padding-top: 25px;
	}

	&__button {
		padding-top: 25px;
		padding-bottom: 30px
	}
}

.pagination-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	border-style: solid;
	border-width: 2px;
	border-radius: 50px;

	&_colored {
		border-color: $color-primary;
	}

	&__arrow {
		width: 14px;
		height: 6px;
		background: url("../assets/icons/Arrow.svg");
		background-repeat: no-repeat;

		&_left {
			transform: rotate(180deg);
		}
	}
}