html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: start;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.dark-background {
  background: #43362e;
}

.noise-background {
  background-image: url("/shelter/assets/noise_transparent@2x.png");
}

.light-background {
  background: #F6F6F6;
}

.layout-2-col {
  display: flex;
}

.layout-3-col {
  display: flex;
}

.header-2 {
  color: #FFFFFF;
  font-family: "Georgia", serif;
  font-size: 44px;
  line-height: 130%;
}

.header-3 {
  font-family: "Georgia", serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}
.header-3_dark {
  color: #545454;
}
.header-3_light {
  color: #FFFFFF;
}

.header-4 {
  font-family: "Georgia", serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}
.header-4_dark {
  color: #545454;
}
.header-4_primary {
  color: #F1CDB3;
}

.header-5 {
  color: #545454;
  font-family: "Georgia", serif;
  font-size: 15px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.paragraph-l {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 160%;
}
.paragraph-l_light {
  color: #CDCDCD;
}
.paragraph-l_dark {
  color: #4C4C4C;
}

.paragraph-s {
  color: #B2B2B2;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 150%;
  font-style: italic;
}

.button {
  color: #292929;
  border-radius: 100px;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.1em;
  padding: 15px 45px;
  border: none;
  outline: none;
  transition: 0.5s;
}
.button:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}

.button_colored {
  background-color: #F1CDB3;
}

.button_bordered {
  background: none;
  outline: 2px solid #F1CDB3;
  outline-offset: -2px;
}
.button_bordered:hover {
  outline: 2px solid #FDDCC4;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header__container_main {
  padding-top: 60px;
  padding-bottom: 30px;
}
.header__container_pets {
  padding-top: 30px;
  padding-bottom: 32px;
}

.logo__title {
  margin: 0;
  font-weight: normal;
  font-family: "Georgia", serif;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
}
.logo__title_primary {
  color: #F1CDB3;
}
.logo__title_dark {
  color: #545454;
}
.logo__subtitle {
  font-family: "Arial", sans-serif;
  font-size: 13px;
  letter-spacing: 0.1em;
  line-height: 15px;
  padding-top: 10px;
  padding-left: 5px;
}
.logo__subtitle_light {
  color: #FFFFFF;
}
.logo__subtitle_dark {
  color: #292929;
}
.logo__link {
  text-decoration: none;
  transition: 0.5s;
}
.logo__link:hover {
  cursor: pointer;
  text-shadow: 0 0 20px #F1CDB3;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}
.navigation__item {
  margin-left: 36px;
}
.navigation__link {
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 160%;
  padding-bottom: 5px;
  transition-duration: 0.5s;
  transition-property: color;
}
.navigation__link:hover {
  cursor: pointer;
}
.navigation__link:active {
  border-bottom: 3px solid #F1CDB3;
}
.navigation__link:focus {
  border-bottom: 3px solid #F1CDB3;
}
.navigation__link_active {
  border-bottom: 3px solid #F1CDB3;
  pointer-events: none;
}
.navigation__link_light {
  color: #CDCDCD;
}
.navigation__link_light:hover {
  color: #FAFAFA;
}
.navigation__link_light:active {
  color: #FAFAFA;
}
.navigation__link_dark {
  color: #545454;
}
.navigation__link_dark:hover {
  color: #292929;
}

.start-text__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-right: 42px;
}
.start-text__title {
  padding-top: 195px;
}
.start-text__paragraph {
  padding-top: 40px;
}
.start-text__button {
  padding-top: 42px;
}

.start-img {
  display: flex;
  align-items: flex-end;
  padding-top: 32px;
}

.about-img {
  padding-left: 175px;
  padding-top: 80px;
  padding-bottom: 95px;
}

.about-text__container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding-top: 95px;
  padding-right: 175px;
  padding-left: 120px;
  padding-bottom: 95px;
}
.about-text__paragraph {
  padding-top: 24px;
}

.our-friends__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
}
.our-friends__title {
  text-align: center;
  padding-top: 80px;
}
.our-friends__cards {
  width: 82%;
}
.our-friends__slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.our-friends__button {
  padding-top: 30px;
}

.pet-cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  padding-top: 60px;
}

.pet-card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  transition: 1s;
  border-radius: 9px;
  margin-bottom: 32px;
}
.pet-card__container:hover {
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #FFFFFF;
}
.pet-card__container:hover .button {
  background-color: #FDDCC4;
  outline: 2px solid #FDDCC4;
}
.pet-card__title {
  padding-top: 25px;
}
.pet-card__button {
  padding-top: 28px;
  padding-bottom: 30px;
}

.paginator {
  display: flex;
  padding-top: 30px;
}
.paginator__item {
  margin-left: 10px;
  margin-right: 10px;
}

.pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
  transition: 0.5s;
}
.pagination-button_in-slider {
  margin-top: 30px;
}
.pagination-button_normal {
  border-color: #F1CDB3;
}
.pagination-button_normal:hover {
  cursor: pointer;
  border-color: #FDDCC4;
  background-color: #FDDCC4;
}
.pagination-button_active {
  border-color: #F1CDB3;
  background-color: #F1CDB3;
}
.pagination-button_active:hover {
  cursor: pointer;
  border-color: #FDDCC4;
  background-color: #FDDCC4;
}
.pagination-button_inactive {
  color: #CDCDCD;
  border-color: #CDCDCD;
}
.pagination-button__arrow {
  width: 14px;
  height: 6px;
  background-image: url("/shelter/assets/icons/arrow.svg");
  background-repeat: no-repeat;
}
.pagination-button__arrow_left {
  transform: rotate(180deg);
}

.help__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.help__title {
  padding-top: 80px;
  text-align: center;
}

.help-items__container {
  max-width: 1150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}
.help-items__row-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.help-items__row-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.help-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 58px;
  padding-left: 60px;
  padding-right: 60px;
}
.help-item__title {
  padding-top: 25px;
}

.in-addition-img {
  padding-top: 91px;
  padding-left: 143px;
}

.in-addition-text {
  padding-left: 30px;
  padding-right: 160px;
}
.in-addition-text__title {
  padding-top: 80px;
}
.in-addition-text__subtitle {
  padding-top: 18px;
  padding-bottom: 20px;
}
.in-addition-text__paragraph {
  padding-top: 20px;
  padding-bottom: 100px;
}

.credit-card {
  max-width: 350px;
  display: flex;
  padding: 10px 0px 5px 15px;
  background-color: #F1CDB3;
  border-radius: 9px;
  transition: 0.5s;
}
.credit-card:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}
.credit-card__link {
  text-decoration: none;
}
.credit-card__number {
  padding-left: 15px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  padding-right: 160px;
  padding-top: 56px;
}
.footer__contact-link {
  display: flex;
  align-items: center;
  transition: 0.5s;
  padding-top: 40px;
  text-decoration: none;
}
.footer__contact-link:hover {
  cursor: pointer;
  text-shadow: 0 0 2px #F1CDB3;
}
.footer__contact-link_location {
  padding-top: 32px;
}
.footer__contact-text {
  padding-left: 20px;
}
.footer__img {
  display: flex;
  align-items: flex-end;
  padding-top: 40px;
  margin-left: 5px;
}/*# sourceMappingURL=main.css.map */