html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  display: flex;
  justify-content: start;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
}

.background__start_dark {
  background: url("../assets/background/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}
.background__footer_dark {
  background: url("../assets/background/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
.background_light {
  background: #F6F6F6;
}

.header-2 {
  color: #FFFFFF;
  font-family: "Georgia", serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
}

.header-3 {
  font-family: "Georgia", serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
}
.header-3_dark {
  color: #545454;
}
.header-3_light {
  color: #FFFFFF;
}

.header-4 {
  font-family: "Georgia", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.06em;
}
.header-4_dark {
  color: #545454;
}
.header-4_primary {
  color: #F1CDB3;
}

.header-5 {
  color: #545454;
  font-family: "Georgia", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.paragraph-l {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
}
.paragraph-l_light {
  color: #CDCDCD;
}
.paragraph-l_dark {
  color: #4C4C4C;
}

.paragraph-s {
  color: #B2B2B2;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  font-style: italic;
}

.button {
  color: #292929;
  border-radius: 100px;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.1em;
  padding: 15px 45px;
  border: none;
  outline: none;
  transition: 0.5s;
}
.button:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}

.button_colored {
  background-color: #F1CDB3;
}

.button_bordered {
  background: none;
  outline: 2px solid #F1CDB3;
  outline-offset: -2px;
}
.button_bordered:hover {
  outline: 2px solid #FDDCC4;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header__container_main {
  padding-top: 30px;
  padding-bottom: 30px;
}
.header__container_pets {
  padding-top: 30px;
  padding-bottom: 32px;
}

.logo__title {
  font-family: "Georgia", serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.06em;
}
.logo__title_primary {
  color: #F1CDB3;
}
.logo__title_dark {
  color: #545454;
}
.logo__subtitle {
  font-family: "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 15px;
  padding-top: 10px;
  padding-left: 5px;
}
.logo__subtitle_light {
  color: #FFFFFF;
}
.logo__subtitle_dark {
  color: #292929;
}
.logo__link {
  text-decoration: none;
  transition: 0.5s;
}
.logo__link:hover {
  cursor: pointer;
  text-shadow: 0 0 20px #F1CDB3;
}

.burger {
  display: none;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}
.navigation__item {
  margin-left: 35px;
}
.navigation__link {
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
  padding-bottom: 5px;
  transition-duration: 0.5s;
  transition-property: color;
}
.navigation__link:hover {
  cursor: pointer;
}
.navigation__link:active {
  border-bottom: 3px solid #F1CDB3;
}
.navigation__link:focus {
  border-bottom: 3px solid #F1CDB3;
}
.navigation__link_active {
  border-bottom: 3px solid #F1CDB3;
  pointer-events: none;
}
.navigation__link_light {
  color: #CDCDCD;
}
.navigation__link_light:hover {
  color: #FAFAFA;
}
.navigation__link_light:active {
  color: #FAFAFA;
}
.navigation__link_dark {
  color: #545454;
}
.navigation__link_dark:hover {
  color: #292929;
}

.start__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 60px;
}
.start__img {
  min-width: 698px;
  display: flex;
}
.start__text {
  max-width: 39%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.start__title {
  padding-top: 165px;
}
.start__paragraph {
  padding-top: 40px;
}
.start__button {
  padding-top: 42px;
}

.about__container {
  width: 73%;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 100px;
}
.about__img {
  width: 300px;
  height: 408px;
}
.about__title {
  padding-top: 15px;
}
.about__text {
  max-width: 50.5%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.about__paragraph {
  padding-top: 25px;
}

.our-friends__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 100px;
}
.our-friends__title {
  text-align: center;
}
.our-friends__cards {
  width: 82%;
}
.our-friends__slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.our-friends__button {
  padding-top: 30px;
}

.pet-cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  padding-top: 60px;
}

.pet-card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  transition: 1s;
  border-radius: 9px;
  margin-bottom: 32px;
}
.pet-card__container:hover {
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #FFFFFF;
}
.pet-card__container:hover .button {
  background-color: #FDDCC4;
  outline: 2px solid #FDDCC4;
}
.pet-card__title {
  padding-top: 25px;
}
.pet-card__button {
  padding-top: 28px;
  padding-bottom: 30px;
}

.paginator {
  display: flex;
  padding-top: 30px;
}
.paginator__item {
  margin-left: 10px;
  margin-right: 10px;
}

.pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
  transition: 0.5s;
}
.pagination-button_in-slider {
  margin-top: 30px;
}
.pagination-button_normal {
  border-color: #F1CDB3;
}
.pagination-button_normal:hover {
  cursor: pointer;
  border-color: #FDDCC4;
  background-color: #FDDCC4;
}
.pagination-button_active {
  border-color: #F1CDB3;
  background-color: #F1CDB3;
}
.pagination-button_active:hover {
  cursor: pointer;
  border-color: #FDDCC4;
  background-color: #FDDCC4;
}
.pagination-button_inactive {
  color: #CDCDCD;
  border-color: #CDCDCD;
}
.pagination-button__arrow {
  width: 14px;
  height: 6px;
  background-image: url("../assets/icons/arrow.svg");
  background-repeat: no-repeat;
}
.pagination-button__arrow_left {
  transform: rotate(180deg);
}

.help__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.help__title {
  padding-top: 80px;
  text-align: center;
}

.help-items__container {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 100px;
  -moz-column-gap: 120px;
       column-gap: 120px;
  row-gap: 55px;
}

.help-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.help-item__title {
  padding-top: 25px;
}

.in-addition__container {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}
.in-addition__img {
  width: 505px;
  height: 261px;
  margin-right: 30px;
  margin-top: 10px;
}
.in-addition__text {
  max-width: 32%;
  padding-bottom: 100px;
}
.in-addition__subtitle {
  padding-top: 18px;
  padding-bottom: 20px;
}
.in-addition__paragraph {
  padding-top: 22px;
}

.credit-card {
  max-width: 350px;
  display: flex;
  padding: 10px 0px 5px 15px;
  background-color: #F1CDB3;
  border-radius: 9px;
  transition: 0.5s;
}
.credit-card:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}
.credit-card__link {
  text-decoration: none;
}
.credit-card__number {
  padding-left: 15px;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 40px;
}
.footer__column {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}
.footer__column:nth-child(2) {
  margin-right: 10px;
}
.footer__contact-link {
  display: flex;
  align-items: center;
  transition: 0.5s;
  padding-top: 40px;
  text-decoration: none;
}
.footer__contact-link:hover {
  cursor: pointer;
  text-shadow: 0 0 2px #F1CDB3;
}
.footer__contact-link_location {
  padding-top: 32px;
}
.footer__contact-text {
  padding-left: 20px;
}
.footer__img {
  width: 300px;
  height: 310px;
}

/* Tablet */
@media only screen and (max-width: 1150px) {
  .wrapper {
    min-width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .start__container {
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
  .start__img {
    max-width: 569px;
    min-width: 260px;
    align-self: flex-end;
  }
  .start__text {
    max-width: 65%;
    padding-bottom: 100px;
  }
  .start__title {
    padding-top: 0;
  }
  .start__button {
    align-self: center;
  }
  .about__container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .about__img {
    order: 100;
  }
  .about__title {
    padding: 0px;
  }
  .about__text {
    max-width: 61%;
    padding-bottom: 80px;
  }
  .our-friends .pet-card:nth-child(3) {
    display: none;
  }
  .help-items__container {
    max-width: 630px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 65px;
         column-gap: 65px;
  }
  .in-addition__container {
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
  }
  .in-addition__img {
    order: 100;
    margin: 0;
  }
  .in-addition__text {
    max-width: 54%;
    padding-bottom: 60px;
  }
  .footer__container {
    justify-content: space-around;
    padding-top: 30px;
  }
  .footer__column {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 60px;
  }
}
/* Mobile */
@media only screen and (max-width: 760px) {
  .wrapper {
    min-width: 320px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-2 {
    font-size: 25px;
    letter-spacing: 0.06em;
  }
  .header-3 {
    font-size: 25px;
  }
  .navigation {
    display: none;
  }
  .header__container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .burger {
    display: block;
    width: 30px;
    height: 22px;
    cursor: pointer;
    background: url("../assets/icons/burger.svg") no-repeat center;
    align-self: center;
  }
  .start__text {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    padding-bottom: 105px;
  }
  .start__img {
    max-width: 260px;
  }
  .about__container {
    justify-content: flex-start;
    padding-top: 42px;
    padding-bottom: 42px;
  }
  .about__text {
    max-width: 90%;
    padding-bottom: 40px;
  }
  .about__paragraph {
    text-align: justify;
  }
  .about__title {
    text-align: center;
  }
  .about__img {
    width: 260px;
    height: 353.6px;
  }
  .our-friends__container {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  .our-friends__cards {
    min-width: 100%;
    order: -1;
  }
  .our-friends__slider {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .our-friends__button {
    padding-top: 40px;
  }
  .pet-cards__container {
    justify-content: center;
    padding-top: 42px;
  }
  .pet-card__container {
    margin: 0;
  }
  .pet-card:nth-child(2) {
    display: none;
  }
  .pagination-button_in-slider {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
}/*# sourceMappingURL=main.css.map */